<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Notizie</servlet-name>
        <servlet-class>servlet.Notizie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Articles</servlet-name>
        <servlet-class>servlet.Articles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewArticle</servlet-name>
        <servlet-class>servlet.NewArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleDetail</servlet-name>
        <url-pattern>/notizia.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notizie</servlet-name>
        <url-pattern>/notizie.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleDetail</servlet-name>
        <servlet-class>servlet.NewsDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Articles</servlet-name>
        <url-pattern>/articoli.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewArticle</servlet-name>
        <url-pattern>/scriviArticolo.html</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
